/* ------ START HIDE SCROLLBAR ------ */
.no__scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.no__scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* ------ END HIDE SCROLLBAR ------ */

/* ------ START MAX WIDTH ------ */
.apply--maxwidth {
  max-width: 1536px;
  padding: 1.5rem 0.75rem;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .apply--maxwidth {
    padding: 1.75rem 1rem;
  }
}
@media only screen and (min-width: 950px) {
  .apply--maxwidth {
    padding: 2rem 1.5rem;
  }
}
@media only screen and (min-width: 1280px) {
  .apply--maxwidth {
    padding: 2.75rem 2.25rem;
  }
}
@media only screen and (min-width: 1536px) {
  .apply--maxwidth {
    padding: 3rem 2.5rem;
  }
}
/* ------ END MAX WIDTH ----- */
